    @font-face {
        font-family: "Merriweather";
        font-style: normal;
        font-weight: 800;
        src: url(../fonts/Merriweather-Black.ttf);
    }
    @font-face {
        font-family: "Merriweather";
        font-style: normal;
        font-weight: bold;
        src: url(../fonts/Merriweather-Bold.ttf);
    }
    @font-face {
        font-family: "Merriweather";
        font-weight: bold;
        font-style: italic;
        src: url(../fonts/Merriweather-BoldItalic.ttf);
    }
    @font-face {
        font-family: "Merriweather";
        font-weight: 800;
        font-style: italic;
        src: url(../fonts/Merriweather-HeavyItalic.ttf);
    }
    @font-face {
        font-family: "Merriweather";
        font-weight: normal;
        font-style: italic;
        src: url(../fonts/Merriweather-Italic.ttf);
    }
    @font-face {
        font-family: "Merriweather";
        font-weight: 200;
        src: url(../fonts/Merriweather-Light.ttf);
    }
    @font-face {
        font-family: "Merriweather";
        font-weight: 200;
        font-style: italic;
        src: url(../fonts/Merriweather-LightItalic.ttf);
    }
    @font-face {
        font-family: "Merriweather";
        font-weight: normal;
        src: url(../fonts/Merriweather-Regular.ttf);
    }
    h3{
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        color: #3c3c3c;
        font-size: 18px;
        text-align: center;
        font-weight: normal;
    }
    strong{
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
        color: #3c3c3c;
        font-size: 18px;
        text-align: center;
        font-weight: normal;
    }
    p{
        margin: 0;
        font-size: 20px;
        text-align: center;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .clear::after{
        content: "";
        display: block;
        clear: both;
    }
    @media screen and (max-width: 601px) {
        body{
            color: #3c3c3c;
            margin: 0;
            font-family: "Merriweather";
            font-size: 16px;
            padding: 10px;
            background: #eeefef;
        }
        h2{
            margin: 0;
            font-size: 25px;
            color: #3c3c3c;
            text-transform: capitalize;
            text-align: center;
            font-weight: 200;
        }
        .page{
            max-width: 1900px;
            min-width: 375px;
            margin: 0 auto;
            border: 1px solid #e4e4e5;
            background-color: #fefefe;
        }
        .header{
            padding-top: 30px;
            background: url("../images/header-background-mobile.jpg") no-repeat;
            padding-bottom: 70%;
            background-size: cover;
            background-position: center;
        }
        .header .menu-checkbox-holder{
            width: 75px;
            position: relative;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.8);
            opacity: 0.8;
            padding: 10px;
            font-size: 13px;
            margin-bottom: 200px;
            display: flex;
        }
        .checkbox-holder-icon{
            margin-right: 5px;
        }
        .checkbox-holder-text{
            font-weight:bold;
        }
        .checkbox-overlay{
            position: absolute;
            top: 6px;
            left: 8px;
            width: 24px;
            height: 24px;
            z-index: 10;
            display: block;
            margin: 0;
            padding: 0;
            opacity: 0;
        }
        .checkbox-overlay:checked ~ .menu-drop{
            display: block;
        }
        .menu-drop{
            margin: 0;
            padding: 0;
            position: absolute;
            z-index: 10;
            top: 36px;
            left: -110px;
            background: #fff;
            padding: 5px;
            list-style: none;
            display: none;
        }
        .menu-drop li{
            border: 1px solid #fff;
            width: 300px;
            text-align: center;
        }
        .menu-drop li a{ 
            padding: 7px 0;
            display: block;
            height: 100%;
            text-decoration: none;
            color: black;
        }
        .menu-drop li:hover{
            border: 1px solid black;
        }
        .mobile-description{
            margin: 0 auto;
            margin-bottom: 77px;
            text-align: center;
            position: relative;
        }
        .description-block{
            margin: 0 auto;
            width: 310px;
            margin-bottom: 30px;
        }
        .pc-description{
            display: none;
        }
        .mobile-description::after{
            content: "";
            display: block;
            left: 0;
            right: 0;
            position: absolute;
            margin: 12px auto 30px auto;
            width: 255px;
            height: 35px;
            background: url("../images/paragraph-underline.png") no-repeat;
        }
        .yellow-bar{
            background-image: url("../images/yellow-bar-background-repeatable.jpg");
            padding: 0 10%;
            margin-bottom: 50px;
        }
        .yellow-bar h3{
            font-weight: bold;
            margin-bottom: 25px;
        }
        .yellow-bar .list{
            padding: 0;
            margin: 0;
            list-style: none;
        }
        .yellow-bar .list li{
            padding-bottom: 35px;
        }
        .yellow-bar .list li:first-child{
            padding-top: 35px;
        }
        .yellow-bar .list li:last-child{
            padding-bottom: 70px;
        }
        .yellow-bar .list .img-holder{     
            margin-bottom: 9.2%;
            text-align: center;
        }
        .noodle{
            background: url("../images/noodle.png") no-repeat;            
        }
        .tea{
            background: url("../images/tea.png") no-repeat;            
        }
        .sweet{
            background: url("../images/sweet.png") no-repeat;            
        }        
        .month-special {
            margin-bottom: 45px;
        }
        .month-special h2{
            margin-bottom: 80px;
            position: relative;
            clear: both;
        }
        .month-special h2::after{
            content: "";
            left: 0;
            right: 0;
            position: absolute;
            display: block;
            background: url("../images/paragraph-underline.png") no-repeat;
            width: 255px;
            height: 35px;
            margin: 5px auto 40px auto;
        }
        .offer-list-wrapper{
            padding: 0 10px 0 10px;
        }
        .offer-list-wrapper.two{
            display: none;
        }
        .offer-list{
            list-style: none;
            text-align: center;
        }
        .offer-list h3{
            text-transform: none;
            font-weight: bold;
            font-size: 14px;
        }
        .offer-list h3:after{
            content: "";
            display: block;
            width: 38%;
            margin: 0 auto;
            padding-top: 2.6%;
            border-bottom: 1px solid #3c3c3c;
            margin-bottom: 4%;
        }
        .offer-list p{
            font-size: 12px;
            margin-bottom: 4px;
            margin-bottom: 9.5%;
        }
        .offer-list strong{
            display: inline-block;
            text-transform: none;
            font-weight: bold;
            margin-bottom: 5%;
            font-size: 14px;
        }
        .offer-list li{
            width: 340px;
            margin: 0 auto;
            background-color: #f8f8f8;
        } 
        .offer-list .container{            
            display: flex;
        }
        .offer-list img.pc{
            display: none;
        }   
        .offer-list-text{
            padding: 40px 10px 0 10px;
            width: 150px;
            height: 130px;
        }
        .about-us{
            background: #eeefef;
            padding-top: 40px;
            margin-bottom: 35px;
        }
        .about-us h2{
            margin-bottom: 80px;
            position: relative;
        }
        .about-us h2::after{
            content: "";
            left: 0;
            right: 0;
            position: absolute;
            display: block;
            background: url("../images/paragraph-underline.png") no-repeat;
            width: 255px;
            height: 35px;
            margin: 5px auto 40px auto;
        }
        .about-us p{
            width: 83%;
            margin: 0 auto;
            margin-bottom: 10px;
            font-size: 16px;
        }
        .about-us .photos{
            width: 95%;
            display: flex;
        }
        .about-us .background-pc{
            display: none;
        }
        .about-us .background-mobile{
            flex-grow: 1.714;
            background: url("../images/about-us-background-mobile.png") no-repeat;
            width: 63.16%;
            padding-bottom: 37%;
            background-size: cover;
            object-fit: contain;
        }
        .about-us .signature{
            flex-grow: 1;
            margin-top: 10px;
            background: url("../images/signature.png") no-repeat;
            max-width: 100%;
            width: 31.35%;
            padding-bottom: 21.5%;
            background-size: cover;
            margin-bottom: 13.5%;
        }
        .menu-cart{
            background-color: #fff;
            color: #3c3c3c;
            margin-bottom: 30px;
        }
        .menu-cart h2{
            margin-bottom: 80px;
            position: relative;
        }
        .menu-cart h2::after{
            content: "";
            left: 0;
            right: 0;
            position: absolute;
            display: block;
            background: url("../images/paragraph-underline.png") no-repeat;
            width: 255px;
            height: 35px;
            margin: 5px auto 40px auto;
        }
        .menu-choose-pc{
            display: none;
        }
        .menu-choose-mobile{
            margin: 0 auto;
            padding: 0 13%;
            margin-bottom: 40px;
            display: flex;
        }
        .menu-choose-mobile ul{
            width: 47.5%;
        }
        .menu-cart ul:first-child{
            margin-right: 5%;
        }
        .menu-choose-mobile li{
            margin-bottom: 10px;
        }
        .menu-choose-mobile li:last-child{
            margin-bottom: 0px;
        }
        .menu-choose-mobile ul:first-child li{
            display: flex;
            justify-content: flex-end;
        }
        .menu-choose-mobile ul:last-child li{            
            display: flex;
            justify-content: flex-start;
        }
        .menu-choose-mobile a:hover{
            border: 1px solid #3c3c3c;
        }
        .menu-choose-mobile a{
            text-decoration: none;
            display: inline-block;
            border: 1px solid transparent;
            padding: 5px 15px 3px 15px;
            color: #3c3c3c;    
        }
        .menu-list-pc{
            display: none;
        }
        .menu-cart .menu-list{
            padding: 0 9.6%;
            margin: 0 auto;
            width: 100%;
            text-decoration: none;
            background-color: inherit;
        }
        .menu-list td{
            padding: 0;
        }
        .menu-list .container td{            
            vertical-align:bottom;
        }
        .menu-list .name{
            text-align: left;
            overflow: hidden;
            position: relative;
            font-size: 16px;
            text-transform: uppercase;
        }
        .name-price-container{
            position: relative;
            background-color: inherit;
        }
        .name-wrapper{
            width: 80%;
        }
        .name-wrapper:after{
            content: '';
            position: absolute;
            bottom: 3px;
            width: 600px;
            height: 5px;
            z-index: 0;
            margin-left: 1%;
            background: url("../images/dot.jpg");
            background-repeat: space;
            background-size: contain;
        }
        .menu-list .price{
            position: absolute;
            background-color: #fff;  
            z-index: 2;
            right: 0;
            bottom: 0;
        }
        .menu-list .description{
            font-size: 12px;
            font-style: italic;
            line-height: 14px;
            padding-bottom: 15px;
        }
        .contact{
            padding: 50px 16.5% 0 12.5%;
            background: url("../images/contact-background.jpg") no-repeat;
            width: 71%;
            background-size: cover;
            background-position: right;
        }
        .contact h2{
            margin-bottom: 85px;
            position: relative;
        }
        .contact h2::after{
            content: "";
            left: 0;
            right: 0;
            position: absolute;
            display: block;
            background: url("../images/paragraph-underline.png") no-repeat;
            width: 255px;
            height: 35px;
            margin: 5px auto 45px auto;
        }
        .contact h3{
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 9px;
        }
        .contact p{
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 10px;
        }
        .veggie{
            margin-bottom: 15px;
        }
        .reservations{
            margin-bottom: 52px;
        }
        .contact-us{
            margin-bottom: 55px;
        }
        .contact-us .input-text{
            font-style: italic;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #3c3c3c;
            width: 100%;
            padding: 7px;
            margin-bottom: 45px;
        }
        .contact-us h3{
            text-align: left;
            margin-left: 4%;
            margin-bottom: 26px;
        }
        .contact-us button{
            background: transparent;
            border: 1px solid #3c3c3c;
            padding: 10px 7.7% 8px 7.7%;
            width: 32%;
            margin: 0 auto;
            display: block;
            cursor: pointer;
        }
        .social{
            margin: 0 auto;
            width: 125px;
            padding-bottom: 50px;
            display: flex;
        }
        .social li{
            margin-right: 25px;
        }
        .social li a{
            display: block;
        }
        .social li:last-child{
            margin-right: 0;
        }
        .copyright{
            display: none;
        }
    }

    @media screen and (min-width: 601px) {
        body{
            color: #3c3c3c;
            margin: 0;
            font-family: "Merriweather";
            font-size: 16px;
            background: #fff;
            min-width: 375px;
        }
        h2{
            margin: 0;
            font-size: 40px;
            color: #3c3c3c;
            text-transform: capitalize;
            text-align: center;
            font-weight: 200;
        }
        .page{
            margin: 0 auto;
            max-width: 1900px;
        }
        .header{
            background: url("../images/header-background-pc.jpg") no-repeat;
            height: 965px;
            background-size: cover;
            background-position: center;
            position: relative;
        }
        .checkbox-holder-icon{
            display: none;
        }
        .checkbox-holder-text{
            display: none;
        }
        .checkbox-overlay{
            display: none;
        }
        .menu-drop{
            margin-bottom: 305px;   
            position: absolute;
            z-index: 2;
            top: 4%;
            right: 9.2%;
            display: flex;
        }
        .mobile-description{
            display: none;
        }
        .menu-drop li{
            border: 1px solid transparent;
            margin-right: 15px;
        }
        .menu-drop li:last-child{        
            margin-right: 0px;
        }
        .menu-drop li a{ 
            display: block;
            padding: 12px 19px;
            text-decoration: none;
            color: inherit;
            font-size: 18px;        
        } 
        .menu-drop li:hover{
            border: 1px solid #686868;
        } 
        .pc-description{
            font-size: 40px;
            margin-bottom: 115px;
        }
        .pc-description::after{            
            content: "";
            left: 0;
            right: 0;
            position: absolute;
            display: block;
            background: url("../images/paragraph-underline.png") no-repeat;
            width: 255px;
            height: 35px;
            margin: 40px auto 40px auto;
        }
        .description-block{
            width: 30%;
            position: absolute;
            z-index: 2;
            top: 40%;
            right: 13%;
            min-width: 255px;
        }
        @media screen and (max-width:1400px) {
            .menu-drop{
                display: block;
                margin-bottom: 305px;   
                position: absolute;
                z-index: 2;
                top: 4%;
                right: 13%;
                width: 30%;
                min-width: 255px;
                text-align: center;
            }
            .menu-drop li{
                border: 1px solid transparent;
                margin-right: 0;
            }
            .menu-drop li a{ 
                display: block;
                padding: 12px 19px;
                text-decoration: none;
                color: inherit;
                font-size: 18px;        
            } 
            .menu-drop li:hover{
                border: 1px solid #686868;
            }      
        }
        .yellow-bar{
            background-image: url("../images/yellow-bar-background-repeatable.jpg");
            padding: 0 10.5%;
            margin-bottom: 50px;
        }
        .yellow-bar h3{
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 25px;
        }
        .yellow-bar .list{
            padding: 4.7% 0 5.7% 0;
            margin: 0;
            list-style: none;
            display: flex;
        }
        .yellow-bar .list li{
            width: 25.5%;
            margin-right: 11.66%;
        }
        .yellow-bar .list p{
            font-size: 16px;
        }
        
        .yellow-bar .list li:last-child{
            margin-right: 0;
        }
        .yellow-bar .list .img-holder{     
            margin-bottom: 9.2%;
            text-align: center;
        }
        .noodle{
            background: url("../images/noodle.png") no-repeat;            
        }
        .tea{
            background: url("../images/tea.png") no-repeat;            
        }
        .sweet{
            background: url("../images/sweet.png") no-repeat;            
        }
        @media screen and (max-width:900px) {
            .yellow-bar{
                background-image: url("../images/yellow-bar-background-repeatable.jpg");
                padding: 0 10%;
                margin-bottom: 50px;
            }
            .yellow-bar h3{
                margin-bottom: 25px;
            }
            .yellow-bar .list{
                padding: 0;
                margin: 0;
                list-style: none;
                display: block;
            }
            .yellow-bar .list li{
                padding-bottom: 35px;
                margin-right: 0;
                width: auto;
            }
            .yellow-bar .list li:first-child{
                padding-top: 35px;
            }
            .yellow-bar .list li:last-child{
                padding-bottom: 70px;
            }
            .yellow-bar .list .img-holder{     
                margin-bottom: 5%;
                text-align: center;
            }   
        }
        .month-special{
            margin-bottom: 110px;
        }
        .month-special h2{
            margin-bottom: 80px;
            position: relative;
        }
        .month-special h2::after{
            content: "";
            left: 0;
            right: 0;
            position: absolute;
            display: block;
            background: url("../images/paragraph-underline.png") no-repeat;
            width: 255px;
            height: 35px;
            margin: 5px auto 40px auto;
        }
        .offer-list-wrapper{
            width: 95%;
            margin: 0 auto 110px auto;
            text-align: center;            
        }
        .offer-list{
            list-style: none;
            display: inline-block;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .offer-list h3{
            text-transform: none;
            font-weight: bold;
            font-size: 18px;
        }
        .offer-list h3:after{
            content: "";
            display: block;
            width: 38%;
            margin: 0 auto;
            padding-top: 2.6%;
            border-bottom: 1px solid #3c3c3c;
            margin-bottom: 4%;
        }
        .offer-list p{
            font-size: 16px;
            margin-bottom: 4px;
            margin-bottom: 9.5%;
        }
        .offer-list strong{
            text-transform: none;
            font-weight: bold;
            margin-bottom: 5%;
            font-size: 18px;
        }
        .offer-list li{
            background-color: #f8f8f8;
        }    
        .offer-list .container{
            width: 500px;
            display: flex;
        } 
        .offer-list li img.mobile{
            display: none;
        }   
        .offer-list li .offer-list-text{
            padding: 12.2% 8.1% 0 8.1%;
            width: 33.8%;
        }
        @media screen and (min-width:1052.6px) and (max-width: 1578.95px){
            .offer-list li:last-child .container{
                flex-direction: row-reverse;
            }             
        }
        .about-us{
            background: #eeefef;
            margin-bottom: 1.84%;
            position: relative;
            overflow: hidden;
        }
        .about-us-wrapper{
            height: 967px;
        }
        .about-us-text{            
            width: 34%;
            min-width: 452px;
            position: absolute;
            z-index: 2;
            top: 24.8%;
            left: 10.5%;
        }
        .about-us h2{
            margin-bottom: 85px;
            font-size: 40px;
            text-align: center;
            position: relative;
        }
        .about-us h2::after{
            content: "";
            left: 0;
            right: 0;
            position: absolute;
            display: block;
            background: url("../images/paragraph-underline.png") no-repeat;
            width: 255px;
            height: 35px;
            margin: 5px auto 45px auto;
        }
        .about-us p{
            margin: 0 auto;
            margin-bottom: 30px;
            font-size: 30px;
            line-height: 54px;
        }
        .about-us .background-mobile{
            display: none;
        }
        .about-us .background-pc{
            background: url("../images/about-us-background-pc.png") no-repeat;
            width: 825px;
            height: 628px;
            position: absolute;
            z-index: 1;
            top: 158px;
            left: 52.6%;
        }
        .about-us .photos{            
            display: flex;
            justify-content: flex-end;
        }
        .about-us .signature{
            background: url("../images/signature.png") no-repeat;
            width: 213px;
            height: 144px;
        }
        .menu-cart{
            background-color: #fff;
            color: #3c3c3c;
            margin-bottom: 30px;
            padding: 0 10.5%;
        }
        .menu-cart h2{
            margin-bottom: 80px;
        }
        .menu-cart h2::after{
            content: "";
            left: 0;
            right: 0;
            position: absolute;
            display: block;
            background: url("../images/paragraph-underline.png") no-repeat;
            width: 255px;
            height: 35px;
            margin: 5px auto 40px auto;
        }
        .menu-choose-mobile{
            display: none;
        }
        .menu-choose-pc{
            margin-bottom: 5%;
        }
        .menu-choose-pc ul{
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            justify-content: center;
        }
        .menu-choose-pc li{
            border: 1px solid transparent;
        }
        .menu-choose-pc li:hover{
            border: 1px solid #3c3c3c;
        }
        .menu-choose-pc li a{
            text-decoration: none;
            color: #3c3c3c;    
            display: block;
            padding: 12px 19px;
            text-decoration: none;
            color: inherit;
            font-size: 18px;
        }
        .menu-cart .menu-list-mobile{
            display: none;
        }
        .menu-list-pc{
            margin-bottom: 2.63%;
            background-color: inherit;
            display: flex;
        }
        .menu-list-column{
            width: 43%;
            margin-right: 14%;
            background-color: inherit;
        }
        .menu-list-column:last-child{
            margin-right: 0;
        }
        .menu-cart .menu-list{
            width: 100%;
            text-decoration: none;
            background-color: inherit;
        }
        .menu-list td{
            padding: 0;
        }
        .name-price-container{
            position: relative;
            background-color: inherit;
        }
        .menu-list .container td{        
            vertical-align:bottom;
        }
        .menu-list .name{
            text-align: left;
            overflow: hidden;
            position: relative;
            font-size: 16px;
            text-transform: uppercase;
        }
        .name-wrapper{
            width: 80%;
        }
        .name-wrapper:after{
            content: '';
            position: absolute;
            bottom: 3px;
            width: 1900px;
            height: 5px;
            z-index: 0;
            margin-left: 0.5%;
            background: url("../images/dot.jpg");
            background-repeat: space;
            background-size: contain;
        }
        .menu-list .price{
            position: absolute;
            background-color: #fff;  
            font-size: 18px;
            z-index: 2;
            right: 0;
            bottom: 0;
        }
        .menu-list .description{
            font-size: 12px;
            font-style: italic;
            line-height: 14px;
            padding-bottom: 15px;
        }
        .contact{
            background: url("../images/contact-background.jpg") no-repeat;
            height: 69px;
            background-size: cover;
            background-position: center;
            position: relative;
            padding-top: 900px;
        }
        .contact-wrapper{
            position: absolute;
            width: 31%;
            z-index: 50;
            right: 11%;
            top: 3.4%;
            min-width: 255px;
        }
        .contact h2{
            margin-bottom: 85px;
            position: relative;
        }
        .contact h2::after{
            content: "";
            left: 0;
            right: 0;
            position: absolute;
            display: block;
            background: url("../images/paragraph-underline.png") no-repeat;
            width: 255px;
            height: 35px;
            margin: 5px auto 50px auto;
        }
        .contact .info{
            margin-bottom: 100px;
            display: flex;
            justify-content: space-between;
        }
        .contact .info h3{
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 4px;
        }
        .contact .info p{
            font-size: 16px;
            text-align: left;
            line-height: 160%;
        }
        .veggie{
            text-align: left;
            width: 216px;
        }
        .reservations{
            text-align: left;
            width: 216px;
        }
        .contact-us{
            margin-bottom: 55px;
            font-weight: bold;
        }
        .contact-us .input-text{
            font-family: "Merriweather";
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #3c3c3c;
            width: 100%;
            padding: 7px;
            font-size: 18px;
            font-weight: normal;
            font-style: italic;
        }
        .contact-us .input-text:last-child{            
            margin-bottom: 0;
        }
        .contact-us .input-text-name-email{
            display: flex;
            margin-bottom: 45px;
        }
        .contact-us .name{
            width: 42.5%;
            margin-right: 15%;
        }
        .contact-us .email{
            width: 42.5%;
        }
        .contact-us .message{
            margin-bottom: 45px;
        }
        .contact-us h3{
            text-align: left;
            margin-bottom: 23px;
            font-size: 18px;
        }
        .contact-us button{
            background: transparent;
            border: 1px solid #3c3c3c;
            padding: 14.5px 23.5px 13.5px 23.5px;
            width: 105px;
            margin: 0 auto;
            display: block;
            cursor: pointer;
            font-size: 18px;
        }
        .footer-info{
            height: 50px;
            margin-bottom: 15px;
            display: flex;
            flex-direction: row-reverse;
        }
        .social{
            width: 115px;
            margin-right: 11%;
            display: flex;
        }
        .social li{
            margin-right: 15px;
            width: 50px;
        }
        .social li a{
            height: 100%;
            display: block;
        }
        .social li:last-child{
            margin-right: 0;
        }
        .copyright{
            font-size: 18px;
            margin-right: 25%;
            margin-top: 26px;
        }
        @media screen and (max-width: 1450px){
            .contact .info{
                display: block;
            }
            .veggie{
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
            }
            .reservations{
                margin-left: auto;
                margin-right: auto;
            }
            .contact .info h3{
                text-align: center;
            }
            .contact .info p{
                text-align: center;
            }
        }
        @media screen and (max-width: 822px){
            .contact{
                background-position: right;
            }
            .contact-wrapper{
                right: 10%;
                width: 80%;
            }
            .contact .info{
                display: flex;
            }
            .veggie{
                margin: 0;
                margin-bottom: 30px;
            }
            .reservations{
                margin: 0;
            }
            .contact .info h3{
                text-align: left;
            }
            .contact .info p{
                text-align: left;
            }
            .social{
                margin-right: 5%;
            }
            .copyright{
                margin-right: 15%;
            }
        }
    }
