@font-face {
    font-family: "Merriweather-Black";
    src: url(../fonts/Merriweather-Black.ttf);
}
@font-face {
    font-family: "Merriweather-Bold";
    src: url(../fonts/Merriweather-Bold.ttf);
}
@font-face {
    font-family: "Merriweather-BoldItalic";
    src: url(../fonts/Merriweather-BoldItalic.ttf);
}
@font-face {
    font-family: "Merriweather-HeavyItalic";
    src: url(../fonts/Merriweather-HeavyItalic.ttf);
}
@font-face {
    font-family: "Merriweather-Italic";
    src: url(../fonts/Merriweather-Italic.ttf);
}
@font-face {
    font-family: "Merriweather-Light";
    src: url(../fonts/Merriweather-Light.ttf);
}
@font-face {
    font-family: "Merriweather-LightItalic";
    src: url(../fonts/Merriweather-LightItalic.ttf);
}
@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Regular.ttf);
}
h1{

}
h3{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #3c3c3c;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}
h4{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #3c3c3c;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}
p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
@media screen and (max-width: 601px) {
    h2{
        margin: 0;
        padding: 0;
        font-size: 25px;
        color: #3c3c3c;
        text-transform: capitalize;
        text-align: center;
        font-weight: normal;
        font-family: "Merriweather-Light";
    }
    body{
        color: #3c3c3c;
        margin: 0;
        font-family: "Merriweather";
        font-size: 16px;
        padding: 10px;
        background: #eeefef;
    }
    .page{
        margin: 0 auto;
        border: 1px solid #e4e4e5;
        background-color: #fefefe;
        max-width: 1900px;
        min-width: 375px;
    }
    .paragraph-underline{
        background: url("../images/paragraph-underline.png") no-repeat;
        width: 255px;
        height: 35px;
        margin: 0 auto  ;
    }
    .header{
        padding-top: 30px;
        background: url("../images/header-background-mobile.jpg") no-repeat;
        width: 100%;
        padding-bottom: 70%;
        background-size: cover;
        background-position: center;
    }
    .header .menu-checkbox-holder{
        width: 75px;
        position: relative;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.8);
        opacity: 0.8;
        padding: 10px;
        font-size: 13px;
        margin-bottom: 200px;
    }
    .header .menu-checkbox-holder .checkbox-holder-icon{
        margin-right: 5px;
        float: left;
    }
    .header .menu-checkbox-holder .checkbox-holder-text{
        float: left;
        font-weight:bold;
    }
    .header .checkbox-overlay{
        position: absolute;
        top: 6px;
        left: 8px;
        width: 24px;
        height: 24px;
        z-index: 10;
        display: block;
        margin: 0;
        padding: 0;
        opacity: 0;
    }
    .header .checkbox-overlay:checked ~ .menu-drop{
        display: block;
    }
    .header .menu-drop{
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 10;
        top: 36px;
        left: -110px;
        background: #fff;
        padding: 5px;
        list-style: none;
        display: none;
    }
    .header .menu-drop li{
        border: 1px solid #fff;
        width: 300px;
        text-align: center;
    }
    .header .menu-drop li a{ 
        padding: 7px 0;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
    }
    .header .menu-drop li:hover{
        border: 1px solid black;
    }
    .header .mobile-description{
        margin: 0 auto;
        margin-bottom: 12px;
        text-align: center;
    }
    .header .description-block{
        margin: 0 auto;
        width: 310px;
        margin-bottom: 30px;
    }
    .header .pc-description{
        display: none;
    }
    .header .paragraph-underline{
        margin-bottom: 30px;
        width: 82.5%;
    }
    .yellow-bar{
        background-image: url("../images/yellow-bar-background-repeatable.jpg");
        padding: 0 10%;
        margin-bottom: 50px;
    }
    .yellow-bar h3{
        font-weight: bold;
        margin-bottom: 25px;
    }
    .yellow-bar .list{
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
    }
    .yellow-bar .list li{
        padding-bottom: 35px;
    }
    .yellow-bar .list li:first-child{
        padding-top: 35px;
    }
    .yellow-bar .list li:last-child{
        padding-bottom: 70px;
    }
    .yellow-bar .list .img-holder{     
        margin-bottom: 9.2%;
        text-align: center;
    }
    .yellow-bar .list .noodle{
        background: url("../images/noodle.png") no-repeat;
        
    }
    .yellow-bar .list .tea{
        background: url("../images/tea.png") no-repeat;
        
    }
    .yellow-bar .list .sweet{
        background: url("../images/sweet.png") no-repeat;
        
    }
    .month-special {
        margin-bottom: 45px;
    }
    .month-special h2{
        margin-bottom: 5px;
    }
    .month-special .paragraph-underline{
        margin-bottom: 40px;
    }
    .month-special .offer-list-wrapper{
        padding: 0 10px 0 10px;
    }
    .month-special .offer-list{
        list-style: none;
    }
    .month-special .offer-list h3{
        text-transform: none;
        font-weight: bold;
        font-size: 3.6vw;
    }
    .month-special .offer-list h3:after{
        content: "";
        display: block;
        width: 38%;
        margin: 0 auto;
        padding-top: 2.6%;
        border-bottom: 1px solid #3c3c3c;
        margin-bottom: 4%;
    }
    .month-special .offer-list p{
        font-size: 3vw;
        margin-bottom: 4px;
        margin-bottom: 9.5%;
    }
    .month-special .offer-list h4{
        text-transform: none;
        text-align: center;
        font-weight: bold;
        margin-bottom: 5%;
        font-size: 3.6vw;
    }
    .month-special .offer-list li{
        width: 100%;
        background-color: #f8f8f8;
    }    
    .month-special .offer-list li .container{
        width: 100%;
    }   
    .month-special .offer-list li img{
        float: left;
    }    
    .month-special .offer-list li .offer-list-text{
        padding: 11% 3% 0 3%;
        width: 44%;
        float: left;
    }
    .about-us{
        background: #eeefef;
        padding-top: 40px;
        margin-bottom: 35px;
    }
    .about-us h2{
        margin-bottom: 5px;
    }
    .about-us .paragraph-underline{
        margin-bottom: 40px;
    }
    .about-us p{
        width: 83%;
        margin: 0 auto;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .about-us .photos .background{
        float: left;
        background: url("../images/about-us-background-mobile.png") no-repeat;
        width: 60%;
        padding-bottom: 35%;
        background-size: cover;
    }
    .about-us .photos .signature{
        margin-top: 10px;
        float: left;
        background: url("../images/signature.png") no-repeat;
        width: 35%;
        padding-bottom: 23.6%;
        background-size: cover;
    }
    .menu-cart{
        background-color: #fff;
        color: #3c3c3c;
        margin-bottom: 30px;
    }
    .menu-cart h2{
        margin-bottom: 5px;
    }
    .menu-cart .paragraph-underline{
        margin-bottom: 38px;
    }
    .menu-cart .menu-choose-pc{
        display: none;
    }
    .menu-cart .menu-choose-mobile{
        margin: 0 auto;
        padding: 0 13%;
        margin-bottom: 40px;
    }
    .menu-cart .menu-choose-mobile ul{
        float: left;
        width: 47.5%;
    }
    .menu-cart ul:first-child{
        margin-right: 5%;
    }
    .menu-cart .menu-choose-mobile ul li{
        margin-bottom: 10px;
        border: 1px solid transparent;
        padding: 5px 15px 3px 15px;
    }
    .menu-cart .menu-choose-mobile ul li:last-child{
        margin-bottom: 0px;
    }
    .menu-cart .menu-choose-mobile ul:first-child li{
        float: right;
        margin-left: 5px;
    }
    .menu-cart .menu-choose-mobile ul:last-child li{
        float: left;
    }
    .menu-cart .menu-choose-mobile li:hover{
        border: 1px solid #3c3c3c;
    }
    .menu-cart .menu-choose-mobile li a{
        text-decoration: none;
        color: #3c3c3c;    
    }
    .menu-cart .menu-list-pc{
        display: none;
    }
    .menu-cart .menu-list{
        padding: 0 9.6%;
        margin: 0 auto;
        width: 100%;
        text-decoration: none;
        background-color: inherit;
    }
    .menu-cart .menu-list td{
        padding: 0;
    }
    .menu-cart .menu-list .container td{
        
	    vertical-align:bottom;
    }
    .menu-cart .menu-list .name{
        text-align: left;
        overflow: hidden;
        position: relative;
        font-size: 16px;
        text-transform: uppercase;
    }
    .menu-cart .menu-list .name:after{
        content: '';
        position: absolute;
        bottom: 3px;
        width: 600px;
        height: 5px ;
        margin-left: 1%;
        background: url("../images/dot.jpg");
        background-repeat: space;
        background-size: contain;

    }
    .menu-cart .menu-list .price{
        text-align: right;
        width: 2%;
    }
    .menu-cart .menu-list .description{
        font-size: 12px;
        font-family: "Merriweather-Italic";
        line-height: 14px;
        padding-bottom: 15px;
    }
    .contact{
        padding: 50px 16.5% 0 12.5%;
        background: url("../images/contact-background.jpg") no-repeat;
        width: 71%;
        background-size: cover;
        background-position: right;
    }
    .contact h2{
        margin-bottom: 5px;
    }
    .contact h3{
        font-family: "Merriweather-Bold";
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 9px;
    }
    .contact .paragraph-underline{
        margin-bottom: 45px;
    }
    .contact p{
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 10px;
    }
    .contact .veggie{
        margin-bottom: 15px;
    }
    .contact .reservations{
        margin-bottom: 52px;
    }
    .contact .contact-us{
        margin-bottom: 55px;
    }
    .contact .contact-us .input-text{
        font-family: "Merriweather-Italic";
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #3c3c3c;
        width: 100%;
        padding: 7px;
        margin-bottom: 45px;
    }
    .contact .contact-us h3{
        text-align: left;
        margin-left: 4%;
        margin-bottom: 26px;
    }
    .contact .contact-us button{
        background: transparent;
        border: 1px solid #3c3c3c;
        padding: 10px 7.7% 8px 7.7%;
        width: 32%;
        margin: 0 auto;
        display: block;
        cursor: pointer;
    }
    .contact .social{
        margin: 0 auto;
        width: 125px;
        padding-bottom: 50px;
    }
    .contact .social li{
        margin-right: 25px;
        float: left;
    }
    .contact .social li a{
        width: 100%;
        display: block;
    }
    .contact .social li:last-child{
        margin-right: 0;
    }
    .contact .copyright{
        display: none;
    }
  }

@media screen and (min-width: 601px) {
    h2{
        margin: 0;
        padding: 0;
        font-size: 2.1vw;
        color: #3c3c3c;
        text-transform: capitalize;
        text-align: center;
        font-weight: normal;
        font-family: "Merriweather-Light";
    }
    body{
        color: #3c3c3c;
        margin: 0;
        font-family: "Merriweather";
        font-size: 16px;
        background: #fff;
    }
    .page{
        margin: 0 auto;
        max-width: 1900px;
        min-width: 375px;
    }
    .header{
      padding-top: 50px;
      background: url("../images/header-background-pc.jpg") no-repeat;
      padding-bottom: 56.25%;
      background-size: cover;
      background-position: center;
      position: relative;
    }
    .header .menu-checkbox-holder .checkbox-holder-icon{
        display: none;
    }
    .header .menu-checkbox-holder .checkbox-holder-text{
        display: none;
    }
    .header .checkbox-overlay{
        display: none;
    }
    .header .menu-drop{
        float: right;
        margin-bottom: 305px;   
        position: absolute;
        z-index: 2;
        top: 4%;
        right: 9.2%;
    }
    .header .mobile-description{
        display: none;
    }
    .header .menu-drop li{
        border: 1px solid transparent;
        float: left;
        margin-right: 15px;
    }
    .header .menu-drop li:last-child{        
        margin-right: 0px;
    }
    .header .menu-drop li a{ 
        display: block;
        padding: 12px 19px;
        text-decoration: none;
        color: inherit;
        font-size: 0.95vw;
        
    }
    @media screen and (max-width: 950px) {        
    .header .menu-drop li a{
        padding: 6px 10px;
    }    
    .header .menu-drop{
        right: 5%;
    }    
    }
    .header .menu-drop li:hover{
        border: 1px solid #686868;
    } 
    .header .pc-description{
        font-size: 2.1vw;
        width: 100%;
        margin-bottom: 6.85%;
    }       
    .paragraph-underline{
        background: url("../images/paragraph-underline.png") no-repeat;
        width: 13.42%;
        padding-bottom: 1.842%;
        height: 0;
        background-size: cover;
        margin: 0 auto  ;
    }
    .header .paragraph-underline{
        background: url("../images/paragraph-underline.png") no-repeat;
        background-size: cover;
        width: 100%;
        padding-bottom: 13.72%;
        margin: 0 auto  ;
    }
    .header .description-block{
        float: right;
        width: 28.5%;
        position: absolute;
        z-index: 2;
        top: 40%;
        right: 13%;
    }
    @media screen and (min-width: 1900px){        
    h2{
        font-size: 40px;
    }
    .header .pc-description{
        font-size: 40px;
    }
    .header .menu-drop li a{ 
        font-size: 18px;        
    }  
    }
    .yellow-bar{
        background-image: url("../images/yellow-bar-background-repeatable.jpg");
        padding: 0 10.5%;
        margin-bottom: 50px;
    }
    .yellow-bar h3{
        font-weight: bold;
        font-size: 0.94vw;
        margin-bottom: 25px;
    }
    .yellow-bar .list{
        padding: 4.7% 0 5.7% 0;
        margin: 0;
        list-style: none;
        width: 100%;
    }
    .yellow-bar .list li{
        float: left;
        width: 25.5%;
        margin-right: 11.66%;
    }
    .yellow-bar .list p{
        font-size: 0.84vw;
    }
    
    .yellow-bar .list li:last-child{
        margin-right: 0;
    }
    .yellow-bar .list .img-holder{     
        margin-bottom: 9.2%;
        text-align: center;
    }
    .yellow-bar .list .noodle{
        background: url("../images/noodle.png") no-repeat;
        
    }
    .yellow-bar .list .tea{
        background: url("../images/tea.png") no-repeat;
        
    }
    .yellow-bar .list .sweet{
        background: url("../images/sweet.png") no-repeat;
        
    }
    @media screen and (min-width: 1900px){
        .yellow-bar h3{
            font-size: 18px;
        }
        .yellow-bar .list p{
            font-size: 16px;
        }
    }
    .month-special {
        margin-bottom: 110px;
    }
    .month-special h2{
        margin-bottom: 5px;
    }
    .month-special .paragraph-underline{
        margin-bottom: 40px;
    }
    .month-special .offer-list-wrapper{
        width: 78.5%;
        margin: 0 auto 110px auto;
    }
    .month-special .offer-list{
        list-style: none;
    }
    .month-special .offer-list h3{
        text-transform: none;
        font-weight: bold;
        font-size: 00.94vw;
    }
    .month-special .offer-list h3:after{
        content: "";
        display: block;
        width: 38%;
        margin: 0 auto;
        padding-top: 2.6%;
        border-bottom: 1px solid #3c3c3c;
        margin-bottom: 4%;
    }
    .month-special .offer-list p{
        font-size: 0.842vw;
        margin-bottom: 4px;
        margin-bottom: 9.5%;
    }
    .month-special .offer-list h4{
        text-transform: none;
        text-align: center;
        font-weight: bold;
        margin-bottom: 5%;
        font-size: 00.94vw;
    }
    .month-special .offer-list li{
        background-color: #f8f8f8;
        width: 33%;
        float: left;
    }    
    .month-special .offer-list li .container{
        width: 100%;
    }   
    .month-special .offer-list li img{
        float: left;
    }    
    .month-special .offer-list li .offer-list-text{
        padding: 12.2% 8.1% 0 8.1%;
        width: 33.8%;
        float: left;
    }
    @media screen and (min-width: 1900px){
        .month-special .offer-list h3{
            font-size: 18px;
        }
        .month-special .offer-list p{
            font-size: 16px;
        }
        .month-special .offer-list h4{
            font-size: 18px;
        }
    }
    .about-us{
        background: #eeefef;
        margin-bottom: 1.84%;
        position: relative;
    }
    .about-us-wrapper{
        width: 100%;
        padding-bottom: 50.8%;
    }
    .about-us-text{
        width: 34%;
        margin-right: 18.6%;
        position: absolute;
        z-index: 2;
        top: 18%;
        left: 10.5%;
    }
    .about-us h2{
        margin-bottom: 1.316%;
        width: 100%;
        font-size: 2.1vw;
        text-align: center;
    }
    .about-us .paragraph-underline{
        margin: 0 auto 6.76% auto;
        padding-bottom: 5.5%;
        width: 40%;
        height: 0;
        background-size: cover;

    }
    .about-us p{
        width: 83%;
        margin: 0 auto;
        margin-bottom: 10px;
        font-size: 1.6vw;
    }
    .about-us .photos .background{
        background: url("../images/about-us-background-pc.png") no-repeat;
        width: 43.45%;
        padding-bottom: 33.1%;
        background-size: cover;
        position: absolute;
        z-index: 2;
        top: 7.9%;
        left: 52.6%;
    }
    .about-us .photos .signature{
        position: absolute;
        z-index: 2;
        top: 56%;
        left: 30.8%;
        background: url("../images/signature.png") no-repeat;
        width: 12.24%;
        padding-bottom: 8.275%;
        background-size: cover;
    }
    @media screen and (min-width: 1900px){
        .about-us h2{
            font-size: 40px;
        }
        .about-us p{
            font-size: 30px;
        }
    }
    .menu-cart{
        background-color: #fff;
        color: #3c3c3c;
        margin-bottom: 30px;
        padding: 0 10.5%;
    }
    .menu-cart h2{
        margin-bottom: 5px;
    }
    .menu-cart .paragraph-underline{
        margin-bottom: 3.26%;
    }
    .menu-cart .menu-choose-mobile{
        display: none;
    }
    .menu-cart .menu-choose-pc{
        margin-bottom: 5%;
    }
    .menu-cart .menu-choose-pc ul{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }
    .menu-cart .menu-choose-pc li{
        border: 1px solid transparent;
        float: left;
    }
    .menu-cart .menu-choose-pc li:hover{
        border: 1px solid #3c3c3c;
    }
    .menu-cart .menu-choose-pc li a{
        text-decoration: none;
        color: #3c3c3c;    
        display: block;
        padding: 12px 19px;
        text-decoration: none;
        color: inherit;
        font-size: 0.95vw;
    }
    .menu-cart .menu-list-mobile{
        display: none;
    }
    .menu-cart .menu-list-pc{
        margin-bottom: 2.63%;
    }
    .menu-cart .menu-list-pc .menu-list-column{
        width: 43%;
        float: left;
        margin-right: 14%;
    }
    .menu-cart .menu-list-pc .menu-list-column:last-child{
        margin-right: 0;
    }
    .menu-cart .menu-list{
        width: 100%;
        text-decoration: none;
        background-color: inherit;

    }
    .menu-cart .menu-list td{
        padding: 0;
    }
    .menu-cart .menu-list .container td{        
	    vertical-align:bottom;
    }
    .menu-cart .menu-list .name{
        text-align: left;
        overflow: hidden;
        position: relative;
        font-size: 0.84vw;
        text-transform: uppercase;
    }
    .menu-cart .menu-list .name:after{
        content: '';
        position: absolute;
        bottom: 15%;
        width: 1900px;
        height: 20.8%;
        margin-left: 0.5%;
        background: url("../images/dot.jpg");
        background-repeat: space;
        background-size: contain;

    }
    .menu-cart .menu-list .price{
        text-align: right;
        width: 2.4%;
        font-size: 0.94vw;
    }
    .menu-cart .menu-list .description{
        font-size: 0.63vw;
        font-family: "Merriweather-Italic";
        line-height: 0.74vw;
        padding-bottom: 2.4%;
    }
    @media screen and (min-width: 1900px){
        .menu-cart .menu-list .name{
            font-size: 16px;
        }
        .menu-cart .menu-list .description{
            font-size: 12px;
        }
        .menu-cart .menu-list .price{
            font-size: 18px;
        }
    }
    .contact{
        background: url("../images/contact-background.jpg") no-repeat;
        width: 100%;
        padding-bottom: 51%;
        background-size: cover;
        background-position: right;
        position: relative;
    }
    .contact .contact-wrapper{
        position: absolute;
        width: 31%;
        z-index: 50;
        left: 58%;
        top: 3.4%;
    }
    .contact h2{
        margin-bottom: 5px;

    }
    .contact .paragraph-underline{
        width: 43.3%;
        padding-bottom: 5.94%;
        margin-bottom: 8.5%;
    }
    .contact .info{
        width: 100%;
        margin-bottom: 17%;
    }
    .contact .info h3{
        font-size: 0.95vw;
        font-family: "Merriweather-Bold";
        font-weight: bold;
        text-align: left;
        margin-bottom: 1.7%;
    }
    .contact .info p{
        font-size: 0.842vw;
        text-align: left;
        line-height: 160%;
    }
    .contact .veggie{
        text-align: left;
        float: left;
        width: 40%;
        margin-right: 20%;
    }
    .contact .reservations{
        text-align: left;
        float: left;
        width: 40%;
    }
    .contact .contact-us{
        margin-bottom: 55px;
        font-family: "Merriweather-Bold";
    }
    .contact .contact-us .input-text{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #3c3c3c;
        width: 100%;
        padding: 1.2%;
        margin-bottom: 45px;
        font-size: 00.94vw;
        font-family: "Merriweather-Italic";
        font-weight: 500;
        margin-bottom: 10.5%;
    }
    .contact .contact-us .input-text:last-child{
        
        margin-bottom: 0;
    }
    .contact .contact-us .name{
        float:left;
        width: 42.5%;
        margin-right: 15%;
    }
    .contact .contact-us .email{
        float:left;
        width: 42.5%;
    }
    .contact .contact-us h3{
        text-align: left;
        margin-bottom: 4%;
        font-size: 00.94vw;
    }
    .contact .contact-us button{
        background: transparent;
        border: 1px solid #3c3c3c;
        padding: 2.5% 4% 2.3% 4%;
        width: 20%;
        margin: 0 auto;
        display: block;
        cursor: pointer;
        font-size: 00.94vw;
    }
    .contact .social{
        position: absolute;
        bottom: 1.84%;
        right: 10.8%;
        z-index: 1;
        width: 6.05%;
    }
    .contact .social li{
        float: left;
        margin-right: 14%;
        width: 43%;
    }
    .contact .social li a{
        width: 100%;
        height: 100%;
        display: block;
    }
    .contact .social li:last-child{
        margin-right: 0;
    }
    .contact .copyright{
        position: absolute;
        bottom: 1.84%;
        left: 42.1%;
        font-size: 00.94vw;
        z-index: 1;
    }
    @media screen and (min-width: 1900px){
        .contact .info h3{
            font-size: 18px;
        }
        .contact .info p{
            font-size: 16px;
        }
        .contact .contact-us .input-text{
            font-size: 18px;
        }
        .contact .contact-us h3{
            font-size: 18px;
        }
        .contact .contact-us button{
            font-size: 18px;
        }
        .contact .copyright{
            font-size: 18px;
        }
        
    }
}
    

